<!-- <section class="seccion-marcas">
	
	<div class="container">

		<div class="row">
			<div class="col-sm-12 text-center wow fadeInUp">
			</div>
		</div>

		<div class="row">

			<div class="col-sm-12 text-center">
				
				

				<?= $this->Html->image('marcas/Logotipo-Agrosuper.png', array('alt' => "Logotipo-Agrosuper")); ?>
				
			</div>
			
		</div>
		
	</div>
	
</section>

-->