@charset 'utf-8';

.titulo_catalogo{
	height: 35px;
	overflow: hidden;
}

hr.activo{
	margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #95b75d;
}

hr.no-activo{
	margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #b64645;
}

hr.hr-seo{
	margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px dashed #D5D5D5;
    width: 90%;
}

.campos-seo .resultado-seo{
	border-left:1px dashed #D5D5D5;
}

.panel {
    background-color: transparent;
 }

.query-historial-versiones pre.query {
	display: none;
	font-size: 10px;
}
.lockscreen-container .lockscreen-box {
    width: 240px;
}
.lockscreen-container .lockscreen-box .lsb-form {
	width: 100%;
}
.lockscreen-container .alert {
	margin-top: 15px;
	padding: 4px;
}
.lockscreen-container .alert a {
	display: none;
}
.fila-filtro {
	margin-bottom: 20px;
}
.btn.btn-limpiar {
	padding: 1px 5px;
	line-height: normal;
	margin-left: 5px;
}

.dropzone.dropzone-mini .dz-message{
	text-align: center !important;
}

.dropzone .dz-default.dz-message span {
    display: block !important;
}

.dropzone .nuevo_banner {
	text-decoration: none;
	color: #000 !important;
}

.file-preview {
    display: flex;
    justify-content: center;
}

.file-preview-frame img{
	max-width: 100%;
}

.gallery .options{
	text-align: center;
}

.admin-home .gallery .gallery-item {
    width: 100%;
  }

.admin-seccion-producto .gallery .gallery-item {
    width: 100%;
  }

 .producto-destacado img{
 	margin: 15px 0px 30px 0;
    width: 90%;
 }

.tabla-nutricional{
	text-align: center;
}

.tabla-nutricional_titulo img{
	cursor: pointer;
}

.tabla-nutricional-extra .help-block{
    margin-top: -15px !important;
}

.btn_ingredientes{
	cursor: pointer;
}


.gallery .gallery-item .image {
    min-height: 171px;
}