.bs-slider{
    position: relative;
    overflow: hidden;
}
.banner-home {
    height: 690px;
}
.banner-lineas-productos {
    height: 400px;
}
.banner-producto {
    height: 400px;
}
.banner-campanas {
    height: 400px;
}
.banner-receta {
    height: 565px;
}
.banner-interior-receta {
    height: 565px;
}
.banner-noticias {
    height: 400px;
}
.banner-noticia {
    height: 565px;
}
.banner-politicas {
    height: 400px;
}
.banner-tips {
    height: 565px;
}
.banner-nosotros {
    height: 400px;
}
.banner-contacto {
    height: 400px;
}
.bs-slider:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.bs-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.bs-slider .bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.bs-slider > .carousel-inner {
    height: 100%;
}
.bs-slider > .carousel-inner > .item {
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
}
.banner-home > .carousel-inner > .item {
    /* background-attachment: fixed !important; */
}
.bs-slider > .carousel-inner > .item.active {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}
.banner-receta > .carousel-inner > .item.active, .banner-interior-receta > .carousel-inner > .item.active, .banner-tips > .carousel-inner > .item.active, .banner-noticia > .carousel-inner > .item.active {
    display: block;
    padding-top: 140px;
} {
    padding-top: 140px;
    display: block;
}
.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
    margin: auto;
    width: 100% !important;
}

.banner-contenido-bottom {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

/********************
*****Slide effect
**********************/

.fade {
    opacity: 1;
}
.fade .item {
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
.fade .item:first-child {
    top: auto;
    position: relative;
}
.fade .item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}

/*---------- LEFT/RIGHT ROUND CONTROL ----------*/
.control-round .carousel-control {
    top: 47%;
    opacity: 0;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #fff;
    display: block;
    font-size: 46px;
    cursor: pointer;
    overflow: hidden;
    line-height: 45px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
}
.control-round:hover .carousel-control{
    opacity: 1;
}
.control-round .carousel-control.left {
    left: 1%;
}
.control-round .carousel-control.right {
    right: 1%;
}
.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover{
    color: #ff0e25;
    background: #fff;
    border: 0px transparent;
}

.control-round .carousel-control.left>span:nth-child(1) {
    position: relative;
    left: -3px;
    top: -1px;
}

.control-round .carousel-control.right>span:nth-child(1) {
    position: relative;
    right: -3px;
    top: -1px;
}

/*
.control-round .carousel-control.left>span:nth-child(1){
    left: 45%;
}
.control-round .carousel-control.right>span:nth-child(1){
    right: 45%;
}
*/





/*---------- INDICATORS CONTROL ----------*/
.indicators-line > .carousel-indicators{
    left: 0;
    width: 100%;
    height: 10px;
    font-size: 0;
    text-align: center;
    padding: 0;
    white-space: nowrap;
    bottom: 0;
    bottom: 20px;
    margin: 0;
}
.indicators-line > .carousel-indicators li{
    padding: 0;
    width: 30px;
    height: 5px;
    text-indent: 0;
    overflow: hidden;
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 0;
    margin: 0 10px;
    -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    z-index: 10;
    cursor: pointer;
    display: inline-block;
    background: #ff0e25;
    border: none !important;
}
.indicators-line > .carousel-indicators li:last-child{
    margin-right: 0;
}
.indicators-line > .carousel-indicators .active{
    background: #fff;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

}
.indicators-line > .carousel-indicators .active:before{
    transform: scale(0.5);
    background-color: #fff;
    content:"";
    position: absolute;
    left:-1px;
    top:-1px;
    width:15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
/*---------- SLIDE CAPTION ----------*/
.slide_style_left {
    text-align: left !important;
}
.slide_style_right {
    text-align: right !important;
}
.slide_style_center {
    text-align: center !important;
}

.slide-text > h1 {  
    padding: 0;
    color: #fff;
    font-family: "BlissPro-HeavyItalic";
    font-size: 64px;
    font-weight: normal;
    line-height: 56px;
    margin: 0;
    margin-bottom: 5px;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.slide-text > h1 span {
    display: inline-block;
    position: relative;
}
.slide-text > h1 span.top {
    margin-left: -85px;
}
.slide-text > h1 span.bottom {
    margin-left: 150px;
    font-size: 80px;
}

.banner-lineas-productos .slide-text > h1 {
    padding-top: 50px;
}
.banner-lineas-productos .slide-text > h1 span.top {
    margin-left: 0;
}
.banner-lineas-productos .slide-text > h1 span.middle {
    font-size: 50px;
    margin-left: 85px;
    top: -17px;
}
.banner-lineas-productos .slide-text > h1 span.bottom {
    margin-left: 43px;
    font-size: 64px;
    top: -25px;
}
.banner-campanas .slide-text > h1 {
    padding-top: 50px;
}

.banner-producto h1 {
    padding-top: 80px;
    font-family: "BlissPro-ExtraBold";
    font-size: 50px;
    line-height: 50px;
}

.banner-producto h2 {
    font-family: "BlissPro-Bold";
    font-size: 20px;
    line-height: 38px;
    color: #fff;
    font-weight: normal;
}

.banner-producto .icon-cortes {
    margin-top: 80px;
}

.slide-text > h1 a {
    border: solid 1px #fff;
    color: #fff;
    font-size: 26px;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 20px;
    position: relative;
    top: -6px;
}
.slide-text > h1 a:hover {
    background: #222; 
}
.slide-text > h1 .left {
    margin-left: 15px;
}
.slide-text > p {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    font-family: "rajdhani-regular";
}
.slide-text > a.btn-default {
    display: inline-block;
    font-family: "BlissPro-ExtraBold";
    font-size: 18px;
    line-height: 35px;
    padding: 0 60px;
    border: solid 2px;
    border-radius: 1px;
    margin-top: 50px;
    border-color: #fff;
    color: #fff;
    background: none;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

}
.slide-text > a.btn-default:hover {
    border-color: #fff;
    background: #fff;
    color: #555;
}
.slide-text > a.btn-default span{margin-left: 10px;}
.slide-text > a.btn-primary{
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: #00bfff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slide-text > a:hover,
.slide-text > a:active {
    color: #ffffff;
    background: #222222;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.slider-scroll {
    width: 100%;
    margin-top: 80px;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    display: none;
}

.slider-scroll a {
    display: inline-block;
    width: 25px;
    height: 40px;
    border: solid 2px #fff;
    border-radius: 15px;
    text-align: center;
    padding-top: 8px;
    line-height: 1px;
}

.slider-scroll span {
    display: inline-block;
    width: 3px;
    height: 6px;
    background: #fff;
}

.breadcrums-banner {
    font-family: "BlissPro-ExtraBold";
    font-size: 13px;
    line-height: 14px;
    color: #fff;
}

.breadcrums-banner a {
    color: #fff;
}

.breadcrums-banner a:hover {
    opacity: 0.8;
}

.banner-receta h1, .banner-interior-receta h1, .banner-tips h1, .banner-noticia h1 {
    font-family: "BlissPro-ExtraBold";
    color: #fff;
    font-size: 39px;
    line-height: 40px;
    font-weight: normal;
    margin-top: 100px;
    margin-bottom: 15px;
}

.banner-receta .ranking {
    color: #fff;
    font-size: 32px;
    line-height: 32px;
}

.banner-receta p, .banner-tips p, .banner-noticia p {
    font-family: "BlissPro-Light";
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 0;
}

.banner-interior-receta .btn-receta {
    font-family: "BlissPro-Light";
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    padding: 0 30px;
    border: solid 1px #fff;
    border-radius: 1px;
    display: inline-block;
}

.banner-interior-receta .btn-receta:hover {
    color: #fff;
    background: #5d6169;
    border-color: #5d6169;
}

.banner-interior-receta .detalles {
    padding: 10px 0;
    font-family: "BlissPro-Light";
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}

.banner-interior-receta .detalles .col {
    display: inline-block;
    text-align: left;
}

.banner-interior-receta .detalles .col:last-child {
    padding-left: 30px;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
    .slide-text h1 {
        font-size: 40px;
        line-height: 44px;
    }
    .slide-text > p {
        font-size: 18px;
        line-height: 22px;
    }
    .indicators-line > .carousel-indicators {
        right: 20px;
    }
    .slide-text > h1 span.bottom {
        margin-left: 100px;
        font-size: 60px;
    }

    .banner-lineas-productos .slide-text > h1 span.middle {
        font-size: 28px;
        margin-left: 55px;
        top: -19px;
    }
    .banner-lineas-productos .slide-text > h1 span.bottom {
        margin-left: 29px;
        font-size: 40px;
        top: -34px;
    }

}

@media  (max-width: 768px) {
    .bs-slider > .carousel-inner > .item {
        background-attachment: unset !important;
    }
    .banner-interior-receta > .carousel-inner > .item.active, .banner-receta > .carousel-inner > .item.active, .banner-tips > .carousel-inner > .item.active, .banner-noticia > .carousel-inner > .item.active {
        padding-top: 70px;
    }
    .banner-receta h1, .banner-interior-receta h1, .banner-tips h1, .banner-noticia h1 {
        margin-top: 30px;
        font-size: 22px;
        line-height: 24px;
    }
    .slide-text {
        padding-right: 15px;
        padding-left: 15px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 34px;
    }
    .slide-text > h1 span.top {
        margin-left: -55px;
    }
    .slide-text > h1 span.bottom {
        margin-left: 65px;
        font-size: 40px;
    }
    .slide-text > a.btn-default {
        margin-top: 20px;
    }
    .slider-scroll {
        margin-top: 30px;
    }

    .banner-lineas-productos .slide-text > h1 span.middle {
        font-size: 22px;
        margin-left: 43px;
        top: -15px;
    }
    .banner-lineas-productos .slide-text > h1 span.bottom {
        margin-left: 25px;
        font-size: 28px;
        top: -28px;
    }

}

@media  (max-width: 480px) {
    .slide-text > h1 a {
        height: 32px;
        width: 32px;
        line-height: 30px;
        top: 0px;
    }
    .control-round .carousel-control{
        right: 10px;
    }
}