@charset "utf-8";
@font-face{font-family:"BlissPro-Bold";src:url("../fonts/BlissPro-Bold.otf");}
@font-face{font-family:"BlissPro-BoldItalic";src:url("../fonts/BlissPro-BoldItalic.otf");}
@font-face{font-family:"BlissPro-ExtraBold";src:url("../fonts/BlissPro-ExtraBold.otf");}
@font-face{font-family:"BlissPro-ExtraLight";src:url("../fonts/BlissPro-ExtraLight.otf");}
@font-face{font-family:"BlissPro-ExtraLightItalic";src:url("../fonts/BlissPro-ExtraLightItalic.otf");}
@font-face{font-family:"BlissPro-Heavy";src:url("../fonts/BlissPro-Heavy.otf");}
@font-face{font-family:"BlissPro-HeavyItalic";src:url("../fonts/BlissPro-HeavyItalic.otf");}
@font-face{font-family:"BlissPro-Light";src:url("../fonts/BlissPro-Light.otf");}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:rgba(255, 255, 255, 0);}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;overflow-x:hidden;background-color:#ffffff;}
html, body{font-size:100%;min-width:240px;width:100%;margin:0;padding:0;border:none;background-color:#ffffff;}
body{text-rendering:optimizeLegibility;background-color:#ffffff;font-weight:300;min-width:240px;-webkit-font-smoothing:antialiased!important;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;}
a{border-style:none;text-decoration:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;user-select:none;}
a:hover{text-decoration:none;}
img{max-width:75%;border-style:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;user-select:none;}
div, a, img{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
div:focus, a:focus, img:focus{outline:0;}
.link{cursor:pointer;}
.animated{transition:all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);-webkit-transition:all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);}
.break{width:0px;height:0px;visibility:hidden;clear:both;}
.container{max-width:100%;}
.visible{display: block;}
.no-visible{display: none;}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 120px;
    line-height: 120px;
}

header.con-fondo {
    background: rgba(0, 0, 0, 0.8);
}

header .btn-menu {
    position: absolute;
    left: 40px;
    top: 0;
    z-index: 2;
}

header .btn-menu a {
    display: inline-block;
    margin-top: 30px;
}

header .btn-menu a span {
    display: block;
    width: 40px;
    height: 5px;
    background: #e11e32;
    margin: 5px 0;
    position: relative;
    border-radius: 10px;
}

header .btn-menu a:hover span {
    background: #fff;
}

header .btn-menu.menu-desplegado a span:nth-child(1) {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 10px;
}

header .btn-menu.menu-desplegado a span:nth-child(2) {
    opacity: 0;
}

header .btn-menu.menu-desplegado a span:nth-child(3) {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -10px;
}

header .logo a:hover {
    opacity: 0.8;
}

header .enlaces {
    position: absolute;
    right: 100px;
    top: 0;
}

header .enlaces a {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    border: solid 1px #fff;
    border-radius: 20px;
    color: #fff;
    margin-left: 2px;
    font-size: 16px;
}

header .enlaces a:first-child {
    margin-left: 0;
}

header .enlaces a:hover {
    opacity: 0.8;
}

header nav {
    display: block;
    position: fixed;
    width: 100%;
    /**background: rgba(150, 5, 29, 0.9);*/
    background: rgba(225, 30, 50, 0.9);
    top: 0px;
    line-height: 50px;
    height: 100%;
    text-align: left;
   /* width: 350px; */
    width: 210px;
    left: -350px;
}

header nav.menu-desplegado {
    height: 100%;
    left: 0;
}

header nav ul {
    padding: 0;
    margin: 0;
   /** padding-top: 120px; */
    padding-top: 20px;
}

header nav ul li {
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
}

header nav a {
    display: inline-block;
    color: #fff;
    padding: 0 15px;
    font-family: "BlissPro-Bold";
    font-size: 18px;
    position: relative;
    width: 100%;
}

header nav a:hover {
    color: #fff;
    background: #292929;
}

header nav a.active {
    color: #fff;
    background: #292929;
}

header nav .submenu {
    position: relative;
    left: 0;
    background: rgba(150, 5, 29, 0.9);
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-left: 20px;
    top: 0;
}

header nav .submenu a {
    display: block;
    text-align: left;
    font-size: 18px;
    line-height: 32px;
    padding: 0 10px;
}

header nav .desplegado {
    height: auto;
}

header #form-header-busqueda {
    display: block;
    width: 200px;
    position: absolute;
    right: 300px;
    top: 0;
    line-height: 120px;
}

header form .form-control {
    display: inline-block;
    border: solid 1px #fff;
    background: none;
    border-radius: 15px;
    height: 32px;
    color: #fff;
    font-family: "BlissPro-HeavyItalic";
    font-size: 14px;
}

header form .form-control::-webkit-input-placeholder {
  color: #fff;
}
header form .form-control:-ms-input-placeholder {
  color: #fff;
}
header form .form-control::-moz-placeholder {
  color: #fff;
}
header form .form-control:-moz-placeholder {
  color: #fff;
}

header form #btn-header-busqueda {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 120px;    
}

header form button {
    width: 32px;
    height: 32px;
    border-radius: 15px;
    background: #fff;
    line-height: 26px;
    color: #e11e32;
    border: none;
}

.contenedor-principal {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.contenedor-principal.menu-desplegado {
    /*left: 300px;*/
}

.capa-fondo{
   /** background: rgba(150, 5, 29, 0.5); */
    background: rgba(255, 198, 208, 0.3);
}


.breadcrums {
    font-family: "BlissPro-ExtraBold";
    font-size: 13px;
    line-height: 14px;
    padding: 10px 0;
    color: #fff;
    background: #e11e32;
}

.breadcrums a {
    color: #fff;
}

.breadcrums a:hover {
    opacity: 0.8;
}

.img-rrss img{
    border-radius: 10px;
}

.img-rrss .img-ints{
    max-width: 100%;
}

.image_corte{
    max-width: 100%;
}

.cortes-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ver-corte{
    line-height: 21px;
    color: #e11e32;
    border-bottom: 1px dashed #D5D5D5;
    font-size: 15px;
}

.seccion-lineas-productos {
    padding: 30px 0;
    background-image: -ms-linear-gradient(left, #e11e32 0%, #FF0520 50%, #e11e32 100%);
    background-image: -moz-linear-gradient(left, #e11e32 0%, #FF0520 50%, #e11e32 100%);
    background-image: -o-linear-gradient(left, #e11e32 0%, #FF0520 50%, #e11e32 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e11e32), color-stop(50, #FF0520), color-stop(100, #e11e32));
    background-image: -webkit-linear-gradient(left, #e11e32 0%, #FF0520 50%, #e11e32 100%);
    background-image: linear-gradient(to right, #e11e32 0%, #FF0520 50%, #e11e32 100%);
}

.seccion-lineas-productos h2 {
    font-weight: normal;
    margin: 0;
    margin-bottom: 30px;
    font-family: "BlissPro-HeavyItalic";
    font-size: 30px;
    line-height: 30px;
    color: #fff;
}

.seccion-lineas-productos .linea {
    padding: 0;
    text-align: center;
    overflow: hidden;
    height: 320px;
}

.seccion-lineas-productos .linea img {
    max-width: 100%;
}

.seccion-lineas-productos .linea .base {
    width: 100%;
}

.seccion-lineas-productos .linea .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    background: rgba(150, 5, 29, 0.7);
}

.seccion-lineas-productos .linea .contenido {
    width: 100%;
    padding: 10px;
}

.seccion-lineas-productos .linea  h3 {
    margin: 20px 0 40px 0;
    font-weight: normal;
    font-family: "BlissPro-Bold";
    font-size: 20px;
    line-height: 20px;
    color: #fff;
}

.seccion-lineas-productos .linea .sin-margin-bottom {
    margin-bottom: 0;
}

.seccion-lineas-productos .linea span {
    font-family: "BlissPro-ExtraBold";
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    padding: 0 10px;
    border: solid 2px #fff;
    border-radius: 1px;
    display: inline-block;
    opacity: 0;
}

.seccion-lineas-productos .linea:hover .base {
    position: relative;
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.seccion-lineas-productos .linea:hover .capa {
    background: rgba(0, 0, 0, 0.3);
}

.seccion-lineas-productos .linea:hover span {
    opacity: 1;
}

.seccion-recetas {
    padding: 50px 0 30px 0;
    background: #e11e32;
    position: relative;
}

.seccion-recetas h2 {
    font-weight: normal;
    margin: 0;
    margin-bottom: 30px;
    font-family: "BlissPro-ExtraBold";
    font-size: 30px;
    line-height: 30px;
    color: #fff;
}

.seccion-recetas .receta {
    text-align: center;
    overflow: hidden;
    padding: 0 5px;
    margin-bottom: 20px;
}

.seccion-recetas .receta img {
    max-width: 100%;
}

.seccion-recetas .receta .base {
    width: auto;
    border-radius: 20px;
}

.seccion-recetas .receta a {
    display: inline-block;
}

.seccion-recetas .receta .contenedor {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.seccion-recetas .receta .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.seccion-recetas .receta .contenido {
    width: 100%;
    padding: 10px 5px;
    opacity: 0;
}

.seccion-recetas .receta h3 {
    padding: 15px 0 25px 0;
    margin: 0;
    font-weight: normal;
    font-family: "BlissPro-Heavy";
    font-size: 18px;
    line-height: 18px;
    color: #e11e32;
}

.seccion-recetas .receta .sin-margin-bottom {
    margin-bottom: 0;
}

.seccion-recetas .receta span {
    font-family: "BlissPro-Light";
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    padding: 0 35px;
    border-radius: 1px;
    display: inline-block;
    background: #e11e32;
    margin-top: 50px;
}

.seccion-recetas .receta .detalle {
    display: inline-block;
    width: 32%;
    color: #e11e32;
    font-family: "BlissPro-Bold";
}

.seccion-recetas .receta .detalle .titulo {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
}

.seccion-recetas .receta .detalle .valor {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 0;
    font-family: "BlissPro-ExtraBold";
}

.seccion-recetas .receta .detalle .valor .desactivado {
    opacity: 0.6;
}

.seccion-recetas .receta .ranking {
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
    opacity: 0;
}

.seccion-recetas .receta a:hover .base {
    position: relative;
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.seccion-recetas .receta a:hover .capa {
    background: rgba(255, 255, 255, 0.8);
}

.seccion-recetas .receta a:hover .contenido {
    opacity: 1;
}

.seccion-recetas .receta a:hover .ranking {
    opacity: 1;
}

.seccion-tips {
    padding: 50px 0 30px 0;
    background: #e11e32;
    position: relative;
}

.seccion-tips h2 {
    font-weight: normal;
    margin: 0;
    margin-bottom: 30px;
    font-family: "BlissPro-ExtraBold";
    font-size: 30px;
    line-height: 30px;
    color: #fff;
}

.seccion-tips .tip {
    text-align: center;
    overflow: hidden;
    padding: 0 5px;
    margin-bottom: 20px;
}

.seccion-tips .tip img {
    max-width: 100%;
}

.seccion-tips .tip .base {
    width: auto;
    border-radius: 20px;
}

.seccion-tips .tip a {
    display: inline-block;
}

.seccion-tips .tip .contenedor {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.seccion-tips .tip .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}

.seccion-tips .tip .contenido {
    width: 100%;
    padding: 10px;
    opacity: 0;
}

.seccion-tips .tip h3 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: "BlissPro-Heavy";
    font-size: 18px;
    line-height: 18px;
    color: #e11e32;
}

.seccion-tips .tip .sin-margin-bottom {
    margin-bottom: 0;
}

.seccion-tips .tip p {
    font-family: "BlissPro-Light";
    font-size: 13px;
    line-height: 16px;
    color: #5d6169;
    margin: 30px 0;
}

.seccion-tips .tip span {
    font-family: "BlissPro-Light";
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    padding: 0 35px;
    border-radius: 1px;
    display: inline-block;
    background: #e11e32;
}

.seccion-tips .tip .ranking {
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
    opacity: 0;
}

.seccion-tips .tip a:hover .base {
    position: relative;
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.seccion-tips .tip a:hover .capa {
    background: rgba(255, 255, 255, 0.8);
}

.seccion-tips .tip a:hover .contenido {
    opacity: 1;
}

.seccion-tips .tip a:hover .ranking {
    opacity: 1;
}

.banner-producto h2{
    font-size: 25px;
}

.interior-lineas-productos .container {
    padding: 30px 0px;
}

.interior-lineas-productos h2 {
    font-weight: normal;
    margin: 0;
    margin-bottom: 40px;
    font-family: "BlissPro-ExtraBold";
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    text-shadow: -3px 2px 5px #000;
}

.interior-lineas-productos .linea {
    text-align: center;
    margin-bottom: 20px;
}

.interior-lineas-productos .linea img {
    max-width: 100%;
}

.interior-lineas-productos .linea a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
}

.interior-lineas-productos .linea .base {
    width: 100%;
}

.interior-lineas-productos .linea .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    background: rgba(150, 5, 29, 0.7);
}

.interior-lineas-productos .linea .contenido {
    width: 100%;
    padding: 10px;
}

.interior-lineas-productos .linea  h3 {
    margin: 10px 0 35px 0;
    font-weight: normal;
    font-family: "BlissPro-Bold";
    font-size: 20px;
    line-height: 20px;
    color: #fff;
}

.interior-lineas-productos .linea .sin-margin-bottom {
    margin-bottom: 0;
}

.interior-lineas-productos .linea span {
    font-family: "BlissPro-ExtraBold";
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    padding: 0 10px;
    border: solid 2px #fff;
    border-radius: 1px;
    display: inline-block;
    opacity: 0;
}

.interior-lineas-productos .linea:hover .base {
    position: relative;
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.interior-lineas-productos .linea:hover .capa {
    background: rgba(0, 0, 0, 0.3);
}

.interior-lineas-productos .linea:hover span {
    opacity: 1;
}

.interior-linea {
    padding-top: 140px;
    background: url(../img/lineas-de-productos/fondo-linea.jpg);
    background-position: top center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

.interior-linea-fondo-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background: url(../img/lineas-de-productos/fondo-linea.jpg);
    background-size: cover !important;
    width: 100%;
    height: 500px;
}

.producto-destacado{
    text-align: center;
}

.producto-destacado-info{
    margin-top: 15px;
}

.producto-destacado img{
    max-width: 65% !important;
}

.caja-img-catalogo{
    min-height: 134px;
    margin: 0px auto;
}

.producto-select{
}

.producto-select-info{
    margin-bottom: -15px;
}

.interior-linea h1 {
    font-family: "BlissPro-ExtraBold";
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    /**margin: 10px 0 40px 0; */
    margin: -15px 0 10px 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.interior-linea h2 {
    font-family: "BlissPro-ExtraBold";
    font-size: 35px;
    line-height: 40px;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.interior-linea p {
    font-family: "BlissPro-Light";
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 40px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.interior-linea .btn-mas-info {
    font-family: "BlissPro-ExtraBold";
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    padding: 0 20px;
    border: solid 2px #fff;
    border-radius: 1px;
    display: inline-block;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.interior-linea .btn-mas-info:hover {
    opacity: 0.8;
}

.interior-linea .lista-productos {
    padding-top: 15px;
    width: 60%;
    margin: 0 auto;
}

.interior-linea .lista-productos .producto {
    margin-bottom: 40px;
    text-align: center;

}

.interior-linea .lista-productos h3 {
    font-family: "BlissPro-ExtraBold";
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    margin: 0;
    padding-top: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.interior-linea .lista-productos .producto:hover img {
    position: relative;
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.interior-linea .paginacion {
    font-size: 26px;
    color: #fff;
    padding-bottom: 30px;
    margin-top: -40px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-radius: 50%;
    font-size: 29px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
   border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
     border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
      border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.pagination>li>a, .pagination>li>span {
   position: relative;
    float: left;
    padding: 0px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
    /* background-color: #fff; */
    /* border: 1px solid #ddd; */
    background: transparent;
    border: transparent;
    font-size: 29px;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #fff;
    background-color: #e11e32;
    border-color: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
       z-index: 3;
    color: #e11e32;
    cursor: default;
    background-color: #fff;
    border-color: #fff;
    border-radius: 50%;
    margin: 0px 20px;
    padding: 0px;
}

.interior-linea .paginacion a {
    font-family: "BlissPro-ExtraBold";
    font-size: 20px;
    line-height: 38px;
    width: 40px;
    height: 40px;
    display: inline-block;
    color: #fff;
    position: relative;
    text-shadow: 2px 2px 3px rgba(0, 0, 0.7);
}

.interior-linea .paginacion a:hover {
    opacity: 0.8;
}

.interior-linea .paginacion .angle {
    font-size: 34px;
}

.interior-linea .paginacion .num {
    top: -3px;
    border-radius: 20px;
}

.interior-linea .paginacion .active, .interior-linea .paginacion .num:hover {
    border: solid 1px #fff;
    background: #fff;
    color: #e11e32;
}

.interior-campanas .container{
    padding: 30px 0;
}

.interior-campanas .contenedor-campanas {
    text-align: center;
}

.interior-campanas .campana {
    display: inline-block;
    position: relative;
    margin-bottom: 18px;
    overflow: hidden;
    border-radius: 15px;
}

.interior-campanas .linea img {
    max-width: 100%;
}

.interior-campanas .campana .base {
    max-width: 100%;
}

.interior-campanas .campana .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(150, 5, 29, 0.7);
    text-align: center;
}

.interior-campanas .campana .capa .boton {
    /*opacity: 0;*/
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.interior-campanas .campana .capa .boton div {
    width: 100%;
}

.interior-campanas .campana .capa .boton img {
    display: inline-block;
}

.interior-campanas .campana .capa .texto {
    /*opacity: 0;*/
    position: absolute;
    /* left: 20px; */  
    bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    width: 100%;
}

.interior-campanas .campana .capa .texto h2 {
    padding: 0;
    color: #fff;
    font-family: "BlissPro-ExtraBold";
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    margin-bottom: 5px;
    text-align: left;
}

.interior-campanas .campana .capa .texto h3 {
    padding: 0;
    color: #fff;
    font-family: "BlissPro-ExtraLight";
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    text-align: left;
}

.interior-campanas .campana:hover .base {
    position: relative;
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.interior-campanas .campana:hover .capa {
    background: rgba(0, 0, 0, 0.3);
}

.interior-campanas .campana:hover .capa .boton {
    opacity: 1;
}

.interior-campanas .campana:hover .capa .texto {
    opacity: 1;
}


/*--Modales--*/
.modal-dialog {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

.modal-content {
  border-radius: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/*.modal-header {
  float: left;
  width: 30%;
  height: 100%;
  color: #FFF;
  background: rgba(0,0,0,.8);
  position: relative;
  border: none;
}*/

.modal-header .close {
  float: left;
  margin: 2em 0.5em;
  height: 2em;
  width: 2em;
  cursor: pointer;
  z-index: 9999;
  position: relative;
  background: url(../img/template/cerrar.png) no-repeat center center;
  opacity: 1;
  position: absolute;
}

.modal-header .text,
.modal-body .text,
.modal-body::after {
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform:    translate(-50%, -50%);
  -ms-transform:     translate(-50%, -50%);
  -o-transform:      translate(-50%, -50%);
  transform:         translate(-50%, -50%);
}

.modal-header .text {
  text-align: center;
  width: 60%;
}

.modal-body {
  float: left;
  width: 70%;
  height: 100%;
  padding: 0;
}

.modal-header .text .modal-title {
  font-size: 3em;
}

.modal-header .text .modal-title::before {
  content: url(../img/Prevenir_Icon.png);
  display: block;
}

.modal-header .text p {
  font-size: 1.25em;
}

.modal-header {
  padding: 0;
  border-bottom: none;
}

.modal-body .text {
  color: #FFF;
  padding: 3em 2em;
  width: 100%;
  position: relative;
}

.modal-body .text::after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(158, 153, 3, .9);
  mix-blend-mode: multiply;
}

.modal-body ul {
  list-style: none;
  padding: 0;
  position: relative;
  z-index: 999;
}

.modal-body li {
  list-style: none;
  font-size: 1.25em;
  margin-bottom: 1em;
  font-weight: 300;
}

.modal-body li:last-child {
  margin-bottom: 0;
}

.modal-video .modal-header {
  float: none;
  width: 100%;
  background: rgba(0,0,0,.9);
  height: 77px;
  padding: 0;
  position: absolute;
}

.modal-video .modal-header .close {
  padding: .25em;
}

.interior-recetas .container{
    padding: 50px 0px;
}

.interior-recetas form select {
    display: inline-block;
    font-family: "BlissPro-Light";
    font-size: 14px;
    color: #e11e32;
    border: solid 1px #e11e32;
    border-radius: 1px;
    height: 40px;
    background: #fff;
}

.interior-recetas .seccion-recetas {
    background: none;
}

.interior-receta-compartir {
    background: #e11e32;
    line-height: 70px;
    font-family: "BlissPro-Bold";
    font-size: 18px;
    color: #fff;
}

.interior-receta-compartir a {
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border: solid 1px #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 22px;
}

.interior-receta-compartir a:first-child {
    margin-left: 15px;
}

.interior-receta-compartir a:hover {
    opacity: 0.8;
}

.interior-receta-ingredientes {
    background: #f7f7f7;
    padding: 50px 0;
}

.interior-receta-ingredientes .col {
    padding-top: 15px;
    padding-bottom: 15px;
}

.interior-receta-ingredientes h5 {
    font-family: "BlissPro-ExtraBold";
    font-size: 18px;
    line-height: 18px;
    color: #e11e32;
    margin-top: 0;
    margin-bottom: 25px;
}

.interior-receta-ingredientes ul {
    padding: 0;
    margin: 0;
    padding-left: 18px;
}

.interior-receta-ingredientes li {
    font-family: "BlissPro-ExtraBold";
    font-size: 18px;
    line-height: 18px;
    color: #5d6169;
    margin-bottom: 20px;
}

.interior-receta-ingredientes .preparacion {
    border-left: solid 1px #aeaeae;
}

.interior-receta-ingredientes .preparacion ul {
    padding-left: 0;
    list-style: none;
    padding-bottom: 20px;
}

.interior-receta-ingredientes .preparacion li {
    font-family: "BlissPro-Light";
}

.interior-receta-ingredientes a {
    display: inline-block;
    margin-right: 30px;
    font-family: "BlissPro-ExtraBold";
    font-size: 17px;
    line-height: 40px;
    width: 190px;
    color: #e11e32;
    border: solid 2px #e11e32;
    text-align: center;
    border-radius: 1px;
}

.interior-receta-ingredientes .relleno {
    border-radius: none;
    color: #fff;
    background: #e11e32;
}

.interior-receta-ingredientes a i {
    font-size: 28px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.interior-receta-ingredientes a:hover {
    opacity: 0.8;
}



.interior-receta-caracteristicas .container {
    padding: 50px 240px;
}

.interior-receta-caracteristicas .col {
    border-right: solid 1px #aeaeae;
    text-align: center;
}

.interior-receta-caracteristicas .col:last-child {
    border: none;
}

.interior-receta-caracteristicas h4 {
    font-family: "BlissPro-ExtraBold";
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-top: 0;
    height: 48px;
    text-shadow: -2px 2px 5px #000;
}

.interior-receta-caracteristicas p {
    font-family: "BlissPro-HeavyItalic";
    font-size: 67px;
    line-height: 67px;
    color: #fff;
    margin-bottom: 5px;
    text-shadow: -2px 2px 5px #000;
}

.interior-receta-caracteristicas p img {
    display: inline-block;
    position: relative;
    top: -6px;
}

.interior-receta-caracteristicas span {
    display: block;
    font-family: "BlissPro-HeavyItalic";
    font-size: 25px;
    line-height: 25px;
    height: 25px;
    color: #fff;
    text-shadow: -2px 2px 5px #000;
}

.interior-receta-caracteristicas .dificultad-media {
    color: #ff7600;
}

.interior-producto-top {
    position: relative;
}

.interior-producto-top .fondo-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #e11e32;
}

.interior-producto-top .info-producto-left {
    padding-bottom: 30px;
}

.interior-producto-top .info-producto-left h2 {
    font-family: "BlissPro-ExtraBold";
    font-size: 40px;
    line-height: 40px;
    color: #e11e32;
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding-top: 45px;
}

.interior-producto-top .info-producto-left .img-producto {
    margin: 50px 0;
}

.interior-producto-top .info-producto-left .btn-comprar {
    position: relative;
    font-family: "BlissPro-Bold";
    font-size: 17px;
    line-height: 40px;
    padding: 0 60px;
    color: #ff8100;
    border: solid 1px #ff8100;
    border-radius: 15px;
    display: inline-block;
}

.interior-producto-top .info-producto-left .btn-comprar img {
    position: absolute;
    right: -50px;
    top: -8px;
}

.interior-producto-top .info-producto-left .btn-comprar:hover {
    opacity: 0.8;
}

.interior-producto-top .info-producto-right {
    padding-top: 80px;
    padding-left: 50px;
}

.interior-producto-top .info-producto-right h2 {
    font-family: "BlissPro-ExtraBold";
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.interior-producto-top .info-producto-right p {
    font-family: "BlissPro-Light";
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 30px;
}

.interior-producto-top .info-producto-right h4 {
    font-family: "BlissPro-ExtraBold";
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.interior-producto-top .info-producto-right .recomendacion {
    display: inline-block;
    text-align: center;
    padding: 20px 12px;
}

.interior-producto-top .info-producto-right .recomendacion:last-child {
    border-left: solid 1px #fff;
}

.interior-producto-top .info-producto-right .recomendacion .imagen {
    height: 100px;
    padding-bottom: 10px;
}

.interior-producto-top .info-producto-right .recomendacion h5 {
    font-family: "BlissPro-ExtraBold";
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.interior-producto-top .info-producto-right .recomendacion-interior-cortes {
    height: 115px;
}

.interior-producto-top .info-producto-right .recomendacion-interior-cortes .interior-receta-compartir {
    background: none;
    position: absolute;
}

.interior-producto-top .info-producto-right .recomendacion-interior-cortes .interior-receta-compartir h5 {
    text-align: left;
}

.interior-producto-top .info-producto-right .ranking {
    padding-top: 30px;
    color: #fff;
    font-size: 32px;
}

.interior-producto-top .info-producto-right .ver-receta a {
    font-family: "BlissPro-ExtraBold";
    font-size: 18px;
    line-height: 40px;
    color: #e11e32;
    margin: 50px 0 30px 0;
    padding: 0 30px;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 1px;
    display: inline-block;
}

.interior-producto-top .info-producto-right .ver-receta a:hover {
    opacity: 0.8;
}

.interior-producto-bottom {
    padding: 30px 0;
    background: #f7f7f7;
}

.interior-producto-bottom h4 {
    font-family: "BlissPro-ExtraBold";
    font-size: 24px;
    line-height: 24px;
    color: #e11e32;
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.interior-producto-bottom h5 {
    font-family: "BlissPro-ExtraBold";
    font-size: 18px;
    line-height: 18px;
    color: #5d6169;
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.interior-producto-bottom p {
    font-family: "BlissPro-Light";
    font-size: 18px;
    line-height: 26px;
    color: #5d6169;
    padding-bottom: 20px;
}

.interior-producto-bottom .btn-tip {
    font-family: "BlissPro-ExtraBold";
    font-size: 17px;
    line-height: 40px;
    color: #e11e32;
    border: solid 2px #e11e32;
    border-radius: 1px;
    padding: 0 50px;
    display: inline-block;
}

.interior-producto-bottom .btn-tip:hover {
    opacity: 0.8;
}

.owl-carousel .owl-wrapper-outer {
    margin-left: 25px;
}

.interior-producto-bottom .redes {
    line-height: 40px;
    font-family: "BlissPro-Bold";
    font-size: 18px;
    color: #e11e32;
    padding-top: 50px;
}

.interior-producto-bottom .redes a {
    color: #e11e32;
    display: inline-block;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border: solid 1px #e11e32;
    border-radius: 20px;
    text-align: center;
    font-size: 22px;
}

.interior-producto-bottom .redes a:first-child {
    margin-left: 15px;
}

.interior-producto-bottom .redes a:hover {
    opacity: 0.8;
}

.interior-producto-bottom .contenedor-right h4 {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 20px;
}

.interior-producto-bottom .contenedor-right p {
    margin: 0;
    padding: 0;
}

.interior-producto-bottom table {
    width: 100%;
    margin-top: 30px;
}

.interior-producto-bottom th:nth-child(2), .interior-producto-bottom th:nth-child(3), .interior-producto-bottom th:nth-child(4), .interior-producto-bottom th:nth-child(5) {
    width: 15%;
}

.interior-producto-bottom th:nth-child(3), .interior-producto-bottom th:nth-child(4), .interior-producto-bottom th:nth-child(5) {
    border-bottom: solid 1px #ccc;
}

.interior-producto-bottom th, .interior-producto-bottom td {
    text-align: center;
    font-family: "BlissPro-ExtraBold";
    font-size: 18px;
    line-height: 18px;
    color: #5d6169;
    padding: 5px 2px
}

.interior-producto-bottom td {
    font-family: "BlissPro-Light";
}

.interior-producto-bottom tr td:nth-child(1) {
    text-align: left;
    font-family: "BlissPro-ExtraBold";
    font-size: 18px;
    line-height: 18px;
    color: #e11e32;
}

.interior-producto-bottom tr:nth-child(1) td {
    padding-top: 10px;
}

.interior-nosotros .container{
    padding: 40px 0 50px 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 1px solid #e11e32;
}

.tab-nosotros, .tab-contacto{
    background: #e11e32 !important;
    overflow: hidden;
    margin-top: 2px;
    border-radius: 10px;
}

.tab-nosotros img{
    border-radius: 10px;
}

.contenedor-tabs .nav-tabs {
    width: 100%;
    display: table;
    border: none;

    margin-bottom: 30px;
}

.contenedor-tabs .nav-tabs li {
    width: 20%;
    display: table-cell;
    text-align: center;
    float: none;
    padding: 0px 3px;
}

.contenedor-tabs .nav-tabs .active:before {

  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40%; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#e11e32 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;

}

.contenedor-tabs .nav-tabs a {
    font-family: "BlissPro-Bold";
    font-size: 18px;
    line-height: 50px;
    color: #e11e32;
    padding: 0;
    border: solid 1px #e11e32;
    border-radius: 10px;
    background: #fff;
}

.contenedor-tabs .nav-tabs a:hover {
    background: #f7f7f7;
    border: solid 1px #e11e32;
}

.contenedor-tabs .nav-tabs .active a {
    background: #e11e32 !important;
    color: #fff !important  ;
}

.contenedor-tabs .nav-tabs .icon-nosotros, .contenedor-tabs .nav-tabs .icon-contacto{
    height: 60px;
    margin: 20px 0 -20px 0;
}

.contenedor-tabs .nav-tabs .icon-historia{
    background: url(../img/template/historia.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .active .icon-historia{
    background: url(../img/template/historia-white.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .active .icon-planta{
    background: url(../img/template/planta-white.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .icon-planta{
    background: url(../img/template/planta.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .active .icon-distribucion{
    background: url(../img/template/distribucion-white.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .icon-distribucion{
    background: url(../img/template/distribucion.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .icon-calidad{
    background: url(../img/template/calidad.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .active .icon-calidad{
    background: url(../img/template/calidad-white.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .icon-manejo{
    background: url(../img/template/manejo.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .active .icon-manejo{
    background: url(../img/template/manejo-white.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .icon-contac{
    background: url(../img/template/contacto.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .active .icon-contac{
    background: url(../img/template/contacto-white.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .icon-auspicio{
    background: url(../img/template/auspicio.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .active .icon-auspicio{
    background: url(../img/template/auspicio-white.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .icon-reclamo{
    background: url(../img/template/reclamo.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .active .icon-reclamo{
    background: url(../img/template/reclamo-white.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .icon-felicitaciones{
    background: url(../img/template/felicitaciones.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .active .icon-felicitaciones{
    background: url(../img/template/felicitaciones-white.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .icon-trabaja{
    background: url(../img/template/trabaja.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .nav-tabs .active .icon-trabaja{
    background: url(../img/template/trabaja-white.png);
    background-position: top center !important;
    background-repeat: no-repeat;
}

.contenedor-tabs .tab-pane {
    padding: 0;
    padding-top: 60px;
}

.contenedor-tabs .tab-pane h2 {
    font-weight: normal;
    margin: 0;
    margin-bottom: 50px;
    font-family: "BlissPro-ExtraBold";
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    position: relative;
    padding: 0 20px; 
}

.contenedor-tabs .tab-pane h2:after {
    content: "";
    display: block;
    width: 55%;
    background: #fff;
    height: 2px;
    position: absolute;
    left: 0;
    margin-top: 10px;
     margin-left: 20px;
}

.contenedor-tabs .tab-pane p {
    font-family: "BlissPro-Light";
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.contenedor-tabs .tab-pane h3 {
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
    font-family: "BlissPro-Bold";
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    position: relative;
}

.contenedor-tabs .tab-pane h4 {
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
    font-family: "BlissPro-Bold";
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    position: relative;
}

.seccion-productos .container {
    padding: 50px 0 30px 0;
}

.seccion-productos h2 {
    font-weight: normal;
    margin: 0;
    margin-bottom: 30px;
    font-family: "BlissPro-ExtraBold";
    font-size: 30px;
    line-height: 30px;
    color: #fff;
}

.seccion-productos .producto {
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
}

.seccion-productos .producto img {
    max-width: 100%;
}

.seccion-productos .producto .base {
    width: auto;
    border-radius: 20px;
}

.seccion-productos .producto a {
    display: inline-block;
}

.seccion-productos .producto .contenedor {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.seccion-productos .producto .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}

.seccion-productos .producto .contenido {
    width: 100%;
    padding: 10px 5px;
    opacity: 0;
}

.seccion-productos .producto h3 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: "BlissPro-Heavy";
    font-size: 18px;
    line-height: 18px;
    color: #e11e32;
}

.seccion-productos .producto .sin-margin-bottom {
    margin-bottom: 0;
}

.seccion-productos .producto span {
    font-family: "BlissPro-Bold";
    font-size: 17px;
    line-height: 40px;
    color: #fff;
    padding: 0 35px;
    border-radius: 15px;
    display: inline-block;
    background: #e11e32;
    margin-top: 40px;
}

.seccion-productos .producto a:hover .base {
    position: relative;
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.seccion-productos .producto a:hover .capa {
    background: rgba(255, 255, 255, 0.8);
}

.seccion-productos .producto a:hover .contenido {
    opacity: 1;
}

.seccion-noticias .container{
    padding: 40px 0 20px 0;
}

.seccion-noticias .noticia {
    overflow: hidden;
    margin-bottom: 20px;
    text-align: center;
}

.seccion-noticias .noticia img {
    max-width: 100%;
}

.seccion-noticias .noticia .base {
    width: auto;
    border-radius: 20px;
}

.seccion-noticias .noticia a {
    display: inline-block;
}

.seccion-noticias .noticia .contenedor {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.seccion-noticias .noticia .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.seccion-noticias .noticia .contenido {
    width: 100%;
    padding: 15px;
    opacity: 0;
    position: absolute;
    bottom: 0;
}

.seccion-noticias .noticia h3 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: "BlissPro-Heavy";
    font-size: 18px;
    line-height: 18px;
    color: #e11e32;
    margin-bottom: 5px;
    text-align: left;
}

.seccion-noticias .noticia p {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: "BlissPro-Light";
    font-size: 13px;
    line-height: 14px;
    color: #5d6169;
    width: 70%;
    text-align: left;
}

.seccion-noticias .noticia span {
    font-family: "BlissPro-Light";
    font-size: 13px;
    line-height: 14px;
    color: #5d6169;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.seccion-noticias .noticia a:hover .base {
    position: relative;
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.seccion-noticias .noticia a:hover .capa {
    background: rgba(255, 255, 255, 0.8);
}

.seccion-noticias .noticia a:hover .contenido {
    opacity: 1;
}

.paginacion-noticias {
    font-size: 26px;
    color: #fff;
    padding-bottom: 30px;
}

.paginacion-noticias a {
    font-family: "BlissPro-ExtraBold";
    font-size: 20px;
    line-height: 38px;
    width: 45px;
    height: 45px;
    display: inline-block;
    color: #fff;
    position: relative;
    text-shadow: 2px 2px 3px rgba(0, 0, 0.7);
}

.paginacion-noticias a:hover {
    opacity: 0.8;
}

.paginacion-noticias .angle {
    font-size: 34px;
}

.paginacion-noticias .num {
    top: -3px;
    border-radius: 20px;
}

.paginacion-noticias .active, .interior-linea .paginacion .num:hover {
    background: #e11e32;
    color: #fff;
}

.interior-noticia .container{
    padding: 50px 0 20px 0;
}

.interior-noticia .contenido-noticia p {
    font-family: "BlissPro-Light";
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
}

.interior-noticia .seccion-noticias {
    padding: 0;
}

.interior-noticia .seccion-noticias h4 {
    font-family: "BlissPro-Bold";
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0 15px;
    margin-bottom: 20px;
    font-weight: normal;
}

.interior-politicas {
    padding: 40px 0 30px 0;
}

.interior-politicas h2 {
    font-family: "BlissPro-ExtraBold";
    color: #e11e32;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-weight: normal;
}

.interior-politicas h3 {
    font-family: "BlissPro-Bold";
    color: #e11e32;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-weight: normal;
}

.interior-politicas p {
    font-family: "BlissPro-Light";
    color: #5d6169;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 20px;
}

.interior-tips .container{
    padding: 50px 0 20px 0;
}

.interior-tips .tip {
    margin-bottom: 30px;
}

.interior-tips .contenido {
    background: #f7f7f7;
    padding: 25px;
    border-radius: 1px;
}

.interior-tips h3 {
    font-weight: normal;
    margin: 0;
    margin-bottom: 50px;
    font-family: "BlissPro-ExtraBold";
    font-size: 24px;
    line-height: 24px;
    color: #e11e32;
    position: relative;
}

.interior-tips h3:after {
    content: "";
    display: block;
    width: 55%;
    background: #e11e32;
    height: 2px;
    position: absolute;
    left: 0;
    margin-top: 10px;
}

.interior-tips p {
    font-family: "BlissPro-Light";
    color: #5d6169;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
}

.interior-tips a {
    font-family: "BlissPro-Light";
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    background: #e11e32;
    border-radius: 1px;
    display: inline-block;
    padding: 0 40px;
    margin-top: 20px;
}

.interior-tips a i {
    margin-right: 10px;
}

.interior-tips a:hover {
    opacity: 0.8;
}

.seccion-marcas {
    padding: 30px 0 15px 0;
    background: #e11e32;
    position: relative;
}

.seccion-marcas h2 {
    font-weight: normal;
    margin: 0;
    margin-bottom: 15px;
    font-family: "BlissPro-ExtraBold";
    font-size: 30px;
    line-height: 30px;
    color: #e11e32;
}

.seccion-marcas img {
    display: inline-block;
    /* margin: 15px; */
    width: 100px;
}

.seccion-redes .container {
    padding: 30px 0px;
}

.seccion-redes h2 {
    font-weight: normal;
    margin: 0;
    margin-bottom: 30px;
    font-family: "BlissPro-ExtraBold";
    font-size: 25px;
    line-height: 40px;
    color: #fff;
    text-shadow: -2px 2px 5px #000;
}

.seccion-redes h2 a {
    color: #fff;
    font-size: 17px;
    padding: 0 5px;
    border: solid 2px #fff;
    border-radius: 1px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -2px;
}

.seccion-redes h2 a:hover {
    opacity: 0.8;
}

.seccion-redes #slider-instagram .item {
    text-align: center;
    width: 85%;
}

.seccion-redes #slider-instagram .item a {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.seccion-redes #slider-instagram .item .capa {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/redes/capa.png) top repeat-x;
    text-align: left;
    padding: 15px 25px;
    font-family: "BlissPro-Light";
    font-size: 22px;
    line-height: 22px;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seccion-redes #slider-instagram .item .capa img {
    margin-right: 10px;
}

.seccion-redes #slider-instagram .item .capa i {
    position: absolute;
    right: 25px;
    top: 23px;
    font-size: 30px;
}

.seccion-redes #slider-instagram .item:hover .base {
    position: relative;
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.seccion-redes #slider-instagram .item:hover .capa {
    opacity: 0.8;
}

.seccion-redes #slider-instagram .owl-controls {
    margin-top: 0;
    text-align: center;
    top: 50%;
    position: absolute;
    width: 100%;
    margin-top: -25px;
}

.seccion-redes #slider-instagram .owl-prev {
    left: -15px;
    position: absolute;
    background: none;
    color: #e11e32;
    font-size: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 50px;
    width: 30px;
}

.seccion-redes #slider-instagram .owl-next {
    right: -15px;
    position: absolute;
    background: none;
    color: #e11e32;
    font-size: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 50px;
    width: 30px;
}

.seccion-redes .feed {
    margin-top: 40px;
}

.interior-contacto .container{
    padding: 40px 0 50px 0;
}

.interior-contacto .contacto .form-group {
    margin-bottom: 20px;
}    

.interior-contacto .contacto .form-control {
    border: solid 1px #fff;
    border-radius: 1px;
    font-family: "BlissPro-light";
    color: #e11e32;
    font-size: 16px;
}

.interior-contacto .contacto input.form-control, .interior-contacto .contacto select.form-control {
    height: 40px;
}

.interior-contacto .contacto textarea {
    resize: vertical;
}

.interior-contacto .contacto .boton {
    display: inline-block;
    font-family: "BlissPro-Light";
    font-size: 18px;
    line-height: 40px;
    padding: 0 30px;
    border: none;
    border-radius: 1px;
    background: #fff;
    color: #e11e32;
}

.interior-contacto .contacto .boton:hover {
    opacity: 0.8;
}

footer {
    width: 100%;
    background: #e11e32;
    color: #fff;
    font-family: "BlissPro-light";
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    padding: 10px 0;
    position: relative;
    text-align: center;
    border-top: 10px solid #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
    opacity: 0.8;
}

footer .txt-footer{
    margin: 18px 0;
}

footer .logo-footer img{
    width: 40%;
}

@media only screen and (max-width: 1300px) {
}

@media only screen and (min-width: 1170px) {
    .container{width:1350px;}
}

@media only screen and (max-width: 1170px) {

    .interior-receta-caracteristicas .container {
        padding: 0 15px;
    }

    .interior-producto-top .info-producto-right {
        padding-top: 30px;
    }

    .interior-lineas-productos .linea h3 {
        margin: 10px 0;
    }

    .interior-producto-top .info-producto-right .recomendacion-interior-cortes .interior-receta-compartir a {
        width: 32px;
        height: 32px;
        line-height: 30px;
        font-size: 18px;
    }

}

@media only screen and (max-width: 992px) {

    header .enlaces {
        position: relative;
        right: 0;
        text-align: center;
        line-height: 32px;
        padding-top: 10px;
    }

    header .enlaces a {
        padding: 0;
    }

    header .enlaces a:hover {
        background: none;
    }

    header #form-header-busqueda {
        right: 15px;
    }

    .interior-producto-top .container {
        width: 100%;
    }

    .interior-producto-top .info-producto-right {
        background: #e11e32;
        padding: 30px;
    }

    .interior-producto-bottom .contenedor-right {
        padding-top: 50px;
    }

    .interior-noticia .seccion-noticias {
        padding-top: 20px;
    }

    .contenedor-tabs .nav-tabs {
        text-align: center;
    }

    .contenedor-tabs .nav-tabs li {
        width: auto;
        display: inline-block;
        margin-bottom: 2px;
    }

    .contenedor-tabs .nav-tabs li a {
        padding: 0 15px;
    }

    .interior-contacto .contacto {
        padding-bottom: 30px;
    }

}

@media only screen and (max-width: 768px) {

    header {
        height: 50px;
        line-height: 50px;
    }

    header .logo a img {
        width: auto;
        height: 46px;
    }

    header .logo {
        text-align: left;
        padding-left: 50px;
        padding-left: 30px;
    }

    header .btn-menu {
        left: 15px;
    }

    header .btn-menu a {
        margin-top: 8px;
    }

    header .btn-menu a span {
        width: 32px;
    }

    header nav {
        top: 50px;
    }

    header #form-header-busqueda {
        line-height: 50px;
    }

    header form #btn-header-busqueda {
        line-height: 50px;
    }

    .banner-catalogo .producto-destacado {
        text-align: center;
        margin-bottom: 20px;
    }

    .banner-catalogo .producto-destacado-info {
        text-align: center;
    }

    .interior-lineas-productos .linea .capa {
            background: rgba(0, 0, 0, 0.3);
    }

    .interior-lineas-productos .linea span {
        opacity: 1;
    }

    .interior-linea {
        padding-top: 70px;
        background: none;
        background-attachment: unset !important;
    }

    .interior-linea h1, .interior-linea h2 {
        font-size: 28px;
        line-height: 28px;
    }

    .seccion-lineas-productos .linea .capa {
        background: rgba(0, 0, 0, 0.3);
    }

    .seccion-lineas-productos .linea span {
        opacity: 1;
    }

    .interior-receta-ingredientes {
        padding: 20px 0;
    }

    .interior-receta-ingredientes a {
        margin-bottom: 10px;
    }

    .interior-receta-ingredientes .preparacion {
        border: none;
    }

    .interior-receta-caracteristicas .col {
        border-right: none;
        border-bottom: solid 1px #aeaeae;
        margin-bottom: 20px;
        padding-bottom: 25px;
    }

    .interior-receta-caracteristicas .col:last-child {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .interior-receta-caracteristicas h4 {
        height: auto;
    }

    .interior-receta-caracteristicas p img {
        top: 0;
    }

    .interior-receta-caracteristicas span {
        height: auto;
    }

    .seccion-recetas .receta {
        margin-bottom: 0;
    }

    .seccion-recetas .receta .capa {
        position: relative;
    }

    .seccion-recetas .receta a:hover .capa {
        background: none;
    }

    .seccion-recetas .receta .contenido {
        opacity: 1;
    }

    .seccion-recetas .receta a:hover .base {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    .seccion-recetas .receta h3 {
        padding: 0 0 15px 0;
        color: #fff;
    }

    .seccion-recetas .receta .detalle {
        color: #fff;
    }

    .seccion-recetas .receta span {
        border: solid 1px #fff;
        color: #fff;
        background: none;
    }

    .seccion-recetas .receta .ranking {
        opacity: 1;
        top: -105px;
        position: relative;
    }

    .interior-recetas .seccion-recetas .receta h3 {
        color: #e11e32;
    }

    .interior-recetas .seccion-recetas .receta .detalle {
        color: #5d6169;
    }

    .interior-recetas .seccion-recetas .receta .ranking {
        color: #5d6169;
    }

    .interior-recetas .seccion-recetas .receta span {
        background: #e11e32;
    }

    .seccion-tips .tip {
        margin-bottom: 0;
    }

    .seccion-tips .tip .capa {
        position: relative;
    }

    .seccion-tips .tip a:hover .capa {
        background: none;
    }

    .seccion-tips .tip .contenido {
        opacity: 1;
    }

    .seccion-tips .tip a:hover .base {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    .seccion-tips .tip h3 {
        padding: 0 0 10px 0;
        color: #fff;
    }

    .seccion-tips .tip p {
        color: #fff;
        margin: 0 0 40px;
    }

    .seccion-tips .tip span {
        border: solid 1px #fff;
        color: #fff;
        background: none;
    }

    .seccion-tips .tip .ranking {
        opacity: 1;
        top: -100px;
        position: relative;
    }

    .seccion-noticias .noticia .capa {
        background: rgba(255, 255, 255, 0.8);
    }

    .seccion-noticias .noticia .contenido {
        opacity: 1;
    }

    .seccion-noticias .noticia span {
        margin-top: 10px;
    }

    .seccion-productos .producto .capa {
        position: relative;
    }

    .seccion-productos .producto .contenido {
        opacity: 1;
    }

    .seccion-productos .producto span {
        margin-top: 10px;
    }

    .interior-producto-top .info-producto-right {
        padding: 30px 15px;
    }

    .interior-producto-top .info-producto-right .recomendacion {
        display: block;
    }

    .interior-producto-top .info-producto-right .recomendacion:last-child {
        border: none;
    }

    .interior-producto-top .info-producto-right .recomendacion .imagen {
        height: auto;
    }

    .interior-producto-top .info-producto-right .recomendacion-interior-cortes .interior-receta-compartir {
        display: inline-block;
        position: relative;
    }

    .interior-producto-top .info-producto-right .recomendacion-interior-cortes .interior-receta-compartir h5 {
        text-align: center;
    }

    .interior-producto-top .info-producto-right .ver-receta {
        text-align: center;
    }

    footer {
        text-align: center;
    }

    footer .text-right {
        text-align: center;
        margin-top: 10px;
    }

}

@media only screen and (max-width: 480px) {

    header {
        height: 50px;
        line-height: 50px;
    }

    header nav {
        width: 200px;
        left: -200px;
    }

    header #form-header-busqueda {
        width: 150px;
    }

    .contenedor-principal.menu-desplegado {
        /*left: 200px;*/
    }

    .seccion-lineas-productos .linea {
        width: 100%;
    }

    .interior-lineas-productos .linea {
        padding: 0 5px;
    }

    .interior-linea .lista-productos .producto {
        width: 100%;
    }

    .interior-receta-compartir {
        font-size: 14px;
    }

    .interior-receta-compartir a {
        width: 32px;
        height: 32px;
        line-height: 30px;
        font-size: 18px;
    }

    .interior-producto-bottom .redes {
        font-size: 14px;
    }

    .interior-producto-bottom .redes a {
        width: 32px;
        height: 32px;
        line-height: 30px;
        font-size: 18px;
    }

    .seccion-recetas .receta {
        width: 100%;
    }

    .seccion-tips .tip {
        width: 100%;
    }

    .seccion-redes h2 a {
        margin-left: 0;
    }

    #contenedor-slider-instagram {
        padding: 0;
    }

    .seccion-redes #slider-instagram .owl-prev {
        left: 0;
    }

    .seccion-redes #slider-instagram .owl-next {
        right: 0;
    }

    .seccion-productos .producto {
        width: 100%;
    }

    .interior-producto-top .info-producto-right h2 {
        font-size: 28px;
        line-height: 28px;
    }

    .interior-producto-bottom th {
        width: auto !important;
    }

    .interior-contacto .contacto .form-group {
        margin-bottom: 0;
    }

    .interior-contacto .contacto form .col-xs-6 {
        width: 100%;
    }

    .interior-contacto .contacto .form-control {
        margin-bottom: 10px;
    }

}